.league-standings {
    border: 2px solid black;
    border-collapse: collapse;
}

/* comment here */

.league-standings td, th {
    border: 2px solid rgb(234, 6, 6);
 /*   padding: 10px 10px 10px 10px;*/

 padding-left: 10px;
 padding-top: 12px;
 padding-right: 13px;
 padding-bottom: 12px;
 
} 


/*
table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th{
    border: 2px solid black; 
}
*/